Types: deb deb-src
URIs: https://@DEBIAN_MIRROR@/debian/
Suites: @VERSION_CODENAME@
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

Types: deb deb-src
URIs: https://@DEBIAN_MIRROR@/debian-security/
Suites: @VERSION_CODENAME@-security
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

Types: deb deb-src
URIs: https://@DEBIAN_MIRROR@/debian/
Suites: @VERSION_CODENAME@-updates
Components: main contrib non-free non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg